$carbon: #161616;
$black:  #000000;
$white:  #ffffff;
$bright_pink: #ee5396;  
$green:  #42be65;
$dark_grey: #262626;
$cyan: #3ddbd9;
$blue: #33b1ff;
$light_grey: #525252;
$yellow: #ffe97b;
$magenta: #ff7eb6;

* {
    all: unset;
}

.bar{
    background-color: $black;
    border-radius: 16px;
}

.bar_ {
    font-family:"DaddyTimeMono";
    font-size: 15px;
    color: $white;
    border-radius: 16px;
    background-color: $black;
    border: 3px;
    border-style: solid;
    border-color: $bright_pink;
}

.workspace-entry {
    font-size: 20px;
    padding-left: 10px;
    color: $white;
}

.workspace-entry.current {
    color: $white;
}

.time {
    padding-right: 10px;
    padding-left: 10px;
}

.bat {
    padding-right: 10px;
    color: $green;
}
.volume {
    padding-right: 10px;
    padding-left: 10px;
    color: $white;
}

.volbar trough highlight {
    border-radius: 10px;
    background-color: $cyan;
 
}

scale trough {
  all: unset;
  background-color: #22242b;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin-left: 10px;
}

.volume_icon{
    font-size: 25px;
}

.brightbar trough highlight {
    border-radius: 10px;
    background-color: $yellow; 
}

.bright_icon {
    font-size: 25px;
   }

.backlight {
    padding-right: 10px;
    padding-left: 10px;
}

.wifi {
    padding-left: 10px;
    padding-right: 10px;
}

.wifi_btn{
    font-size: 25px;
}

.clock_time_class, .clock_minute_class {
    font-size: 23;
}

.clock_time_sep {
    font-size: 20;
}

// Calendar
.cal {
  background-color: $black;
  font-size: 18px;
  font-weight: normal;
  border-radius: 16px;

.cal-in {
    padding: 0px 10px 0px 10px;
    color: $white;
    border: 3px;
    border-color: $bright_pink;
    border-style: solid;
    border-radius: 16px;

.cal {
     &.highlight {
          padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
    }
  }
}

calender {
    color: $bright_pink;

}
calendar:selected {
  color: $bright_pink;
}

calendar.header {
color: $white;
font-weight: bold;
}

calendar.button {
color: $white;
}

calendar.highlight {
color: $white;
font-weight: bold;
}

calendar:indeterminate {
color: $white;
}

.batbar {
    color: $green;
    background-color: $dark_grey;
    border-radius: 10px;
}

.bat {
	border-radius: 16px;
    margin: 0px 10px 0px 10px;
  }

.iconbat{
    font-size: 25px;
    color: $black;
    margin: 5px;
}


tooltip.background {
    background-color: $black;
    font-size: 18;
    border-radius: 10px;
    color: $white;
    border: 3px;
    border-radius: 16px;
    border-color: $bright_pink;
    border-style: solid;
}

tooltip label {
    margin: 6px;
}

.membar {
    color: $yellow;
    background-color: $dark_grey;
    border-radius: 10px;
}

.mem {
	border-radius: 16px;
    margin: 0px 10px 0px 10px;
  }

.iconmem{
    font-size: 25px;
    color: $black;
    margin: 5px;
}

.separ {
    color: $light_grey;
    font-weight: bold;
    font-size: 22px;
    margin: 0px 8px 0px 8px;
}

.title {
    font-size: 18px;
}

.ws-box {
    color: $white;
}

.ws-icons{
    padding: 5px;
}
