$carbon: #161616;
$black:  #000000;
$white:  #ffffff;
$bright_pink: #ee5396;  
$green:  #42be65;
$dark_grey: #262626;
$cyan: #3ddbd9;
$blue: #33b1ff;
$light_grey: #525252;
$yellow: #ffe97b;
$magenta: #be95ff;